*{margin: 0;
padding: 0;
font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{background-image: url(car.jpg );
    background-size: cover;
    background-repeat: no-repeat;
}
ul{
    color: #000;
}
